<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sma">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddNewStudentActivity"></activity>
        <activity android:name=".AdmissionActivity" />
        <activity android:name=".Student.StudentProfile" />
        <activity android:name=".ShowMarkSheetActivity" />
        <activity android:name=".ResultListActivity" />
        <activity android:name=".ExamResultsActivity" />
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".ExaminationActivity" />
        <activity android:name=".LoginScreen" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ClassRoutineActivity" />
        <activity android:name=".Student.FeeActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".StudentsActivity" />
        <activity android:name=".AttendanceHistory" />
        <activity android:name=".AttendanceActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>